.title{
    color: black;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact {
    background-color: white;
    margin-bottom: 1rem;
    color: black;
}
.info div {
    width: 25%;
    background-color: black;
    color: white;
    font-size: large;
    border-radius: 9px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin-bottom: 15px;
}
.info ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-top: 0;
}
.info h3{
    padding-bottom: 15px;
}
@media screen and (max-width:870px){
    .info div{
        padding: 0 20px 0 20px;
        width: 80%;
    }
    .info h3{
        padding-bottom: 0px;
    }
    .info ul {
        height: fit-content;
    }
}
@media screen and (max-width:900px){
    .info div{
        padding: 0 20px 0 20px;
        padding-bottom: 10px;
    }
}