.container {
    background-color: rgb(255, 255, 255);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 10%;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 15px black;
}
.container .logo {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    margin: 0;
    text-shadow: red -2px 0, cyan 2px 0;
    cursor: pointer;
}
.container .logo:hover {
    animation: titling 2s infinite ease-in-out;
}
@keyframes titling{
    0%{
        text-shadow: red -2px 0, cyan 2px 0;
    }
    50%{
        text-shadow: red 2px 0, cyan -2px 0;
    }
    100%{
        text-shadow: red -2px 0, cyan 2px 0;
    }
}
.container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: baseline;
}
.container li {
    margin-left: 1rem;
}

.avatar{
    display: flex;
    cursor: pointer;
    width: auto;
    color: black;
}
.avatar label{
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    font-size: large;
}

@media screen and (max-width: 517px){
    .avatar label{
        display: none;
    }
}