.container {
    background-color: rgb(0, 0, 0);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    color: white;
}
.container .logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-shadow: red -2px 0, cyan 2px 0;
    cursor: pointer;
}
.container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    list-style: none;
}
.container li {
    margin-left: 1rem;
    margin-bottom: 0.1rem;
}

.main {
    margin: auto;
    width: 90%;
    max-width: 40rem;
}

.avatar{
    cursor: pointer;
}