.card {
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    padding: 0.05rem;
}
.card .desc {
    width: 100%;
    padding: 0.4rem;
}
.image_cont {
    height: 100px;
    overflow: hidden;
    position: relative;
}
.card img {
    width: 100%;
}
.image_cont button {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* styling */
    font-size: large;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.806);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 10px black;
    border-radius: 10px;
    padding: 0.55rem 1rem;
    cursor: pointer;
    border: transparent;
    transition: 1s;
}
.image_cont button:hover,
.image_cont button:active {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.318);
}
.image_cont button--flat {
    cursor: pointer;
    font: inherit;
    color: teal;
    border: none;
    background-color: none;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}
