html,
body {
    
    
    height: 100%;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.centered {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tall{
    min-height: 100vh;
}

.master {
    margin: auto;
    width: 90%;
    max-width: 40rem;
}
::-webkit-scrollbar {
    display: none;
}
.btn {
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #11acac;
    border-color: #11acac;
}

.btn--flat {
    cursor: pointer;
    font: inherit;
    color: teal;
    border: none;
    background-color: none;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
    background-color: teal;
    color: white;
}

.btn:disabled {
    border-color: rgba(0, 0, 0, 0.367);
    background-color: grey;
    color: black;
    cursor: not-allowed;
}

@media screen and (max-width: 500px) {
    body{
        height: 100%;
    }
}